code[class*='language-'],
pre[class*='language-'] {
  color: black;
  background: none;
  font-size: 0.9em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  hyphens: none;
  border: none;
  padding: 0 1rem;
}
